@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #091426;
  --color-on-primary: #ffffff;
  --color-primary-container: #1e293b;
  --color-on-primary-container: #8590a6;
  --color-gold-leaf: #D4AF37;
  --color-parchment: #E5D1BC;
  --color-ink-dark: #0F172A;
  --color-ink-light: #f7f9fb;
  --color-surface: #f7f9fb;
  --color-surface-container: #eceef0;
  --color-surface-container-low: #f2f4f6;
  --color-surface-container-lowest: #ffffff;
  --color-on-surface: #191c1e;
  --color-on-surface-variant: #45474c;
  --color-outline-variant: #c5c6cd;

  --font-sans: "Lexend", ui-sans-serif, system-ui, sans-serif;
  --font-headline-md: "Lexend", sans-serif;
  --font-body-md: "Lexend", sans-serif;
  --font-display-lg: "Lexend", sans-serif;
  --font-label-caps: "Lexend", sans-serif;
}

@layer utilities {
  .hero-gradient {
    background: linear-gradient(rgba(9, 20, 38, 0.90), rgba(9, 20, 38, 0.75)), url('https://images.unsplash.com/photo-1589829545856-d10d557cf95f?q=80&w=2070&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
  }
}
